@model QuizWebApp.Models.QuizWebAppDb

@section scripts{
    <script type="text/javascript" src="~/Views/Admin/Admin.js"></script>
}

@{
    ViewBag.Title = "The progress of the quiz";

    var context = Model.Contexts.First();

    var states = new[] {
        new SelectListItem{ Value="PleaseWait", Text="Please wait"},
        new SelectListItem{ Value="ChooseTheAnswer", Text="Choose the answer"},
        new SelectListItem{ Value="Closed", Text="Closed"},
        new SelectListItem{ Value="ShowCorrectAnswer", Text="Show correct answer"},
    };
    states
        .First(s => s.Value == context.CurrentState.ToString())
        .Selected = true;

    var curQ = Model.Questions.FirstOrDefault(q => q.QuestionId == context.CurrentQuestionId);

    var questions = Model
        .Questions
        .ToArray()
        .Select((q, i) => new SelectListItem
        {
            Value = q.QuestionId.ToString(),
            Text = "Q" + (i + 1).ToString(),
            Selected = curQ != null ? curQ.QuestionId == q.QuestionId : false
        })
        .ToArray();
}

<div class="panel panel-default">   
    <div class="panel-heading">
        <h2>@ViewBag.Title</h2>
     </div>
    <div class="panel-body">
        <div class="actions">
            <button type="button" class="btn btn-default" id="move-prev">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </button>
            <button type="button" class="btn btn-default" id="move-next">
                <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </button>
        </div>
        <h3>Current state</h3>
        @Html.DropDownList("currentState", states)
        <h3>Quiz problem that is currently selected:</h3>
        @Html.DropDownList("currentQuestion", questions)
    </div>
</div>
<div id="question-body">
    @Html.Action("QuestionBody")
</div>






