@model QuizWebApp.Models.PlayerQuestionViewModel
<h3>Question</h3>

<div class="well well-small">
    <p>@Html.Raw(Model.Question.Body)</p>
</div>

<h3>Your chosen answer:</h3>

<div class="well well-small">

    <div>
        @if (Model.Answer.ChosenOptionIndex > 0)
        {
            var chosen = Model.Question.GetOptions()[Model.Answer.ChosenOptionIndex-1];
            <div>@(chosen.Option)</div>
        }
        else
        {
            <p>No answer selected</p>
        }
    </div>
</div>
<div class="highlight-info">
    <span class="glyphicon glyphicon-info-sign"></span> Question closed, wait for correct answer..
</div>
