@model QuizWebApp.Models.QuizWebAppDb
@using QuizWebApp
@using QuizWebApp.Models
@{
    var q = Model.Questions.Find(Model.Contexts.First().CurrentQuestionID);
    var playerID = this.User.Identity.UserId();
    var yourAns = Model.Answers.First(a => a.PlayerID == playerID && a.QuestionID == q.QuestionId);
    var choosed = yourAns.ChoosedOptionIndex >= 0 ? q.GetOptions()[yourAns.ChoosedOptionIndex - 1] : null;
}

<h3>Question</h3>

<div class="well well-small">
    <div>
        <p>q.Body</p>
    </div>
</div>

<h3>Pick the correct answer:</h3>

<div class="well well-small">

    <div class="options">
        @if (choosed == null)
        {
            <p>No answer selected</p>
        }
        else
        {
            <div>@(choosed.Option)</div>
            if (string.IsNullOrEmpty(choosed.OptionImage) == false)
            {
                <img src="@choosed.OptionImage" />
            }
        }
    </div>
</div>

<p class="label label-wait"><i class="icon-info-sign icon-white"></i> Question closed, wait for correct answer.</p>
