body {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}
/* RADIO BUTTON MARK UP*/
.options [type="radio"] {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  width: 1px;
}

/* One radio button per line */
.options label {
  display: block;
  cursor: pointer;
  line-height: 2.5;
  font-size: 1.5em;
}

.options [type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
.options [type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.25em;
  border-radius: 1em;
  border: 0.125em solid #fff;
  box-shadow: 0 0 0 0.15em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
.options [type="radio"]:checked + span:before {
  background: green;
  box-shadow: 0 0 0 0.25em #000;
}

/* never forget focus styling */
.options [type="radio"]:focus + span:after {
  content: '\0020\2190';
  font-size: 1.5em;
  line-height: 1;
  vertical-align: -0.125em;
}
/* END RADIO MARKUP */

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
    background-color: white;
    border-style: none;
}

/* -----------------------------------------------------------*/
.well-small h3:first-child {
    margin-top: -5px;
}

.label-wait {
    display: block;
    padding: 10px;
    font-size: 90%;
}
.answer-status {
    display: block;
    width: 2em;
    height: 2em;
    zoom: 1;
    background-color: #ddd;
    text-align: center;
    vertical-align:middle;
}

/* entried, and wainting. */
.answer-status-Pending {
    background-color: #ffd800;
}

/* correct. */
.answer-status-Correct {
    background-color: #20ca20;
}

/* incorect. */
.answer-status-Incorrect {
    background-color: #ff6a00;
}

/* Player
-----------------------------------------------------------*/
.highlight-info {
    font-family: Consolas, monospace;
    border: solid 1px;
    border-color: #0094ff;
    padding: 1em;
    background-color: #f2f8fc;
}

.correct,
.incorrect {
    color: white;
    width: 10em;
    padding: 0.3em;
}

.correct {
    background-color: #20ca20;
}

.incorrect {
    background-color: #ff6a00;
}

.footer {
    position: absolute;
    width: 100%;
    background-color: #ddd;
    height: 3em;
    line-height: 3em;
    bottom: 0;
    left: 0;
}

    .footer a {
        display: block;
        margin-left: 1em;
    }
/* DASHBOARD */
.dashboard {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.dashboard th {
    background-color: #0099FF;
    color: #FFF;
} 

.fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 3px solid #333;
    background-color:#FFF;
}
